<div id="all-movies">
  <h2>Ironhack Cinema</h2>

  <p>Click on the movie to check the showtimes!</p>
  <div id="allmovies-container">
    {{#each this.allMovies}}
      <div class="movie-container">
        <img src="{{this.image}}" alt="movie-ims" />
        <h4>{{this.title}}</h4>
        <a href="movies/{{this._id}}">See more</a>
      </div>
    {{/each}}
  </div>
</div>